.form {
	padding: 1rem;
}

.control {
	margin-bottom: 0.5rem;
}

.control label {
	display: block;
	font-weight: bold;
	margin-bottom: 0.5rem;
}

.control input,
.control textarea {
	display: block;
	font: inherit;
	border-radius: 0.2rem;
	border: 0.1rem solid var(--secondary-light);
	padding: 0.25rem;
	width: 100%;
}

.actions {
	margin-top: 1rem;
	text-align: right;
}

.actions button {
	font: inherit;
	cursor: pointer;
	background-color: var(--primary-dark);
	color: var(--primary-light);
	padding: 0.5rem 1.5rem;
	border: 0.1rem solid var(--quartery-dark);
	border-radius: 4px;
	font-weight: bold;
}

.actions button:hover,
.actions button:active {
	background-color: var(--quartery-dark);
	border-color: var(--primary-dark);
}
